<footer>
    <div class="container"></div>
        <div class="row">
            <div class="col-4" style="font-size: 16px;text-align: center;color: #ffffff;">
            </div>
            <div class="col-4" style="font-size: 16px;text-align: center;color: #ffffff;">
                &copy;Todos os direitos reservados
            </div>

            <div class="col-4" style="font-size: 16px;text-align: right;color: #ffffff;">
                Versão 1.0.0.0
            </div>

        </div>
    </div>

</footer>